
.component-CAMPO{   
    app-search {
        visibility:hidden;
    }   

    .crud-table {

       

        .action-cell {
            width: 160px !important;
            min-width: 160px !important;
            max-width: 160px !important;
        }

    }

}